* {

    border: none; outline: none;

    text-decoration: none; font-size: 14pt;


}

:root {
    --payment-color: rgb(0, 82, 164);
    --payment-color-hover: rgb(18, 136, 255);
}

html, body {

    width: 100%; height: 100%;

    margin: 0; 
}

body {
    display: grid;
    place-items: start center; 
    overflow-y: auto;
}