main {

    width: 100%; height: 100%;

    display: flex; flex-direction: column;

    align-items: center; justify-content: center;

    gap: 1rem; overflow-y: auto; 
}

main header {

    height: 3rem; width: 80%;

    display: flex; align-items: center;

    justify-content: flex-end; gap: 1rem;

    padding: 0 1rem; box-sizing: border-box;
}

main header a {

    color: black; width: fit-content;

    padding: 0 1rem; border-radius: 4px;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

    background-color: white; height: 3rem;

    text-align: center; line-height: 3rem;
}

main header a:hover {

    transition: 0.3s; 

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

main section {

    width: 80%; height: calc(90% - 3rem);

    display: flex; flex-direction: column;

    align-items: center; justify-content: center;
}

main section article {

    width: 60%; height: 70%;

    display: flex; flex-direction: column;

    align-items: center; justify-content: space-around;

    border-radius: 8px; background-color: white;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6), -1rem -1rem 1rem white;
}

main section article div.order-feature {

    width: 80%; height: 3rem;

    display: flex; align-items: center;

    justify-content: center; gap: 2rem;


}

main section article div.order-feature > * {

    font-size: 24pt; user-select: none;
}

main section article .order-payment-button {
    
    width: 50%; height: 3rem;

    border-radius: 4px; text-align: center;

    line-height: 3rem; font-size: 18pt;

    color: white; background-color: var(--payment-color);
}

main section article .order-payment-button:hover {

    background-color: var(--payment-color-hover);

    cursor: pointer; transition: 0.3s;
}

main section article p.order-message {

    width: 50%; height: 3rem;

    border-radius: 4px; text-align: center;

    line-height: 3rem; font-size: 18pt;
    
    color: gray; background: rgb(180 180 180);

    border: 0.2rem solid gray; box-sizing: border-box;
}

