main {
    width: 100%; min-height: 100vh;

    padding: 2rem 10%; display: flex;

    flex-direction: column; align-items: center;

    box-sizing: border-box;
}

.creation-product-container {

    width: 100%; height: 100vh;

    display: none; place-items: center;

    position: fixed; top: 0; left: 0;

    background-color: rgba(0, 0, 0, 0.3);

    transition: opacity 0.3s ease;

    opacity: 0;
}

.creation-product-container.active {

    display: grid !important; opacity: 1 !important;
}

#form-creation-product {

    display: flex;

    width: 40vw; height: 40vh;

    background: white; border-radius: 4px;

    flex-direction: column; align-items: center;

    justify-content: space-around;
}

#form-creation-product label {

    width: 90%; height: 3rem;

    display: inline-flex;
}

#form-creation-product label input {

    width: 70%; height: 3rem;

    text-align: center; line-height: 3rem;

    font-size: 14pt; border-radius: 4px;
}

#form-creation-product label input:not(input[type=file]) {

    background-color: rgb(240 240 240); 
}

#form-creation-product label strong {

    width: 30%; height: 3rem;

    text-align: center; line-height: 3rem;

    font-size: 14pt;
}

#form-creation-product button[type=submit] {

    width: 50%; height: 3rem;

    border-radius: 4px; background: var(--payment-color);

    color: white; font-size: 14pt;

    transition: 0.3s;
}

#form-creation-product button[type=submit]:hover {

    background-color: var(--payment-color-hover);
    cursor: pointer;
}

main header {

    width: 100%; height: 3rem;

    display: flex; align-items: center;

    justify-content: flex-end; box-sizing: border-box;

    padding: 1rem; gap: 1rem;
}

main header button, main header a {

    width: fit-content; height: 3rem;

    text-align: center; line-height: 3rem;

    background: white; color: black;

    margin: 4px; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

    padding: 0 1rem; border-radius: 4px;
}

main header button:hover, main header a:hover {

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    cursor: pointer; transition: 0.3s;
}

main section {

    width: 100%; height: fit-content;

    padding: 1rem 0; box-sizing: border-box;

    display: flex; flex-wrap: wrap;
    
    align-items: center;

    gap: 1rem; justify-content: flex-start;
}

main section a {

    width: calc(33.33% - 0.5rem); height: 60vh;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2), -1rem -1rem 1rem rgba(255, 255, 255, 0.3); 

    display: flex; flex-direction: column; 
    
    align-items: center; box-sizing: border-box;

    justify-content: flex-start; border-radius: 8px;
    
    overflow: hidden; max-height: 50vh;

    transition: 1s ease;
}

main section a:hover {

    transform: scaleY(1.05);
}

main section a:hover img{

    max-height: 100%; height: 100%;
    transition: 0.5s ease;
}

main section a:hover div.product-features {
    transition: 0.5s ease; opacity: 0;
    height: 0;
}

main section a img {

    object-fit: cover; max-width: 100%;

    border-radius: 8px 8px 0 0 ;

    width: 100%; max-height: 60%;

    height: 60%;
}

main section a div.product-features {

    width: 100%; height: 50%;

    display: flex; align-items: center;

    justify-content: space-around; flex-direction: column;

    opacity: 1;
}

main section a div.product-features div.product-feature-element {

    width: 100%; height: 3rem; 

    display: flex; align-items: center;

    justify-content: flex-start; gap: 1rem;

    padding: 0 1rem; box-sizing: border-box;
}

main section a div.product-features div.product-feature-element strong, main section a div.product-features div.product-feature-element p {

    color: black;
}