main {
    width: 100%; min-height: 100vh;
    
    display: flex; align-items: center;

    box-sizing: border-box; justify-content: space-around;

    flex-direction: column;
}

main header {

    width: 50%; height: 3rem;

    display: flex; align-items: center;

    justify-content: flex-end; gap: 1rem;
}

main header a {

    width: fit-content; height: 3rem;

    text-align: center; line-height: 3rem;

    background: white; color: black;

    margin: 4px; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

    padding: 0 1rem; border-radius: 4px;
}

main header a:hover {

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    cursor: pointer; transition: 0.3s;
}

main section {

    width: 100%; height: 90vh;

    padding: 1rem 0; box-sizing: border-box;

    display: flex; flex-direction: column;
    
    align-items: center; overflow-y: auto;

    gap: 1rem; justify-content: center;
}

main section a {

    width: 50%; height: 3rem;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4), -1rem -1rem 1rem rgba(255, 255, 255, 0.3); 

    display: flex; color: black;
    
    align-items: center; 

    justify-content: space-around; border-radius: 8px;
}

main section a div.order-feature {
    display: flex; align-items: center;

    justify-content: center; gap: 1rem;

    height: 3rem; width: 50%;
}