{% extends "base.html" %}

{% block style_container %}

    <link rel="stylesheet" href="{{ url_for('static', path='css/backurls.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">

{% endblock %}

{% block content %}

    <main>

        <header>
            <a href="{{ url_for('list_produto') }}">Voltar</a>
        </header>

        <article>
            <p>
                Payment pending. We are waiting for the payment provider's confirmation to finalize your order
            </p>

            <input type="hidden" data-status="pending">
        </article>

    </main>

{% endblock %}